<Layouts.app flash={@flash}>

<form action="/login" method="post">

  <input 
    type="type" 
    name="username" 
    placeholder="ususario" 
  />
  <input 
    type="password" 
    name="password" 
    placeholder="password" 
  />
  <button type="submit">
    Entrar
  </button>
</form>

</Layouts.app>
