<section>
  <h2>product index </h2>
</section>

<section :if={@promo}>
  <h2>promo <%= @promo %> </h2>
  <h2>promo fi hay codigo de promocion </h2>
  <h2>promo fi hay codigo de promocion </h2>
  <h2>promo fi hay codigo de promocion </h2>
  <h2>promo fi hay codigo de promocion </h2>
  <h2>promo fi hay codigo de promocion </h2>
</section>

<section :if={@promo}>
  <h2>promo <%= @promo %> </h2>
  <h2>promo fi hay codigo de promocion </h2>
  <h2>promo fi hay codigo de promocion </h2>
  <h2>promo fi hay codigo de promocion </h2>
  <h2>promo fi hay codigo de promocion </h2>
  <h2>promo fi hay codigo de promocion </h2>
</section>



<%= if @promo do %>
  <p> siiiiiiiiiiiii </p>
<% else %>
  <p>nooooooooooooooo</p>
<% end %>