<!-- 
<h1>this is show producto id: <%= assigns.id %></h1> 
 -->

<h1>parametro id: <%= @id %></h1> 
<h1>parametro name: <%= @name %></h1> 

<h1>parametro name: {@name} </h1> 


<h2>Flujo completo en Phoenix</h2>
  <p>Si juntas todo, el flujo completo es lineal y bien separado:</p>

  <ol>
    <li>El navegador envía una petición</li>
    <li>El endpoint la prepara</li>
    <li>El router decide a dónde va</li>
    <li>El controller maneja la lógica</li>
    <li>La view/template construyen el HTML</li>
    <li>El HTML vuelve al navegador</li>
  </ol>

  <p>
    Cada capa tiene una responsabilidad clara, lo que permite que la aplicación
    crezca sin que todo se mezcle en un solo lugar.
  </p>
















  